<!doctype html>
<html>
<head>
  <title>Card-o-matic: Print index cards from Pivotal Tracker</title>
  <link href="/stylesheets/application.css" type="text/css" rel="stylesheet" media="all" />
  <meta name="description" content="Card-o-matic is a small web application which generates printable index cards from Pivotal Tracker for each story in the selected iteration" />
  <meta name="keywords" content="pivotal tracker, story cards, index cards, scrum, print, backlog, sprint, icebox, epics, iteration, unstarted, started, finished, delivered, rejected, accepted, unscheduled, move to done, tutorial, priority, integration, export, integrations" />
  <meta name="author" content="meta-tags generator">
  <meta name="robots" content="index, follow" />
  <% if settings.google_ad_id? %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "<%= settings.google_ad_id %>",
  enable_page_level_ads: true
});
    </script>
  <% end %>
  <% if settings.google_analytics_id? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= settings.google_analytics_id %>"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '<%= settings.google_analytics_id %>');
    </script>
  <% end %>
</head>
<body>
  <header>
    <a href="https://card-o-matic.herokuapp.com"><h1>Card-o-matic</h1></a>
  </header>

  <% if @intro %>
  <p class="intro">
    Generate printable index cards for your Pivotal Tracker project.
  </p>
<p class="intro"><img src="indexcards_640x453.jpg" width="632" style="border:1px solid gray" alt="Index cards printed from Pivotal Tracker"></p>

  <% end %>

  <div id="main">
    <% if @error %>
      <div class="error"><%= @error %></div>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <p><a href="https://github.com/Jorgen-Thomsen/card-o-matic">Source code</a></p>
  </footer>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a097f93b86f093f"></script>

</body>
</html>
