<!doctype html>
<html>
<head>
  <link href="/stylesheets/application.css" type="text/css" rel="stylesheet" media="all" />
  <title>Card-o-matic - Print stories from Pivotal Tracker</title>
  <% if settings.google_ad_id? %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "<%= settings.google_ad_id %>",
  enable_page_level_ads: true
});
    </script>
  <% end %>
  <% if settings.google_analytics_id? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= settings.google_analytics_id %>"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '<%= settings.google_analytics_id %>');
    </script>
  <% end %>
</head>
<body>
  <header>
    <h1>Card-o-matic</h1>
  </header>

  <% if @intro %>
  <p class="intro">
    Generate printable story cards for your Pivotal Tracker project.
  </p>

  <p class="intro">
    Card-o-matic is a small web application which takes a Pivotal API key and generates printable cards for each story in the selected iteration.
  </p>
  <% end %>

  <div id="main">
    <% if @error %>
      <div class="error"><%= @error %></div>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <p><a href="https://github.com/Jorgen-Thomsen/card-o-matic">Source code</a></p>
  </footer>
</body>
</html>
